@model IEnumerable<WebQuanLyTapHoa.Models.NhapHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h2>Quản lý Nhập hàng</h2>

<p>
    @Html.ActionLink("Create New", "Create", "NhapHangs")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayNhapSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuongNhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SanPham.TenSP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayNhapSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongNhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SanPham.TenSP)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaNhapHang }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaNhapHang }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaNhapHang })
        </td>
    </tr>
}

</table>
