@model IEnumerable<WebQuanLyTapHoa.Models.LoaiSP>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@*Code cuar Thanh*@
<div class="headerOfQuanLy">
    <h2 class="headerTextOfQuanLy">Quản lý Danh Mục Loại Sản Phẩm</h2>

    <p class="createNew">
        @Html.ActionLink("Thêm Mới", "Create", "LoaiSPs", null, new { @class = "createNew btn btn-light" })
    </p>
</div>

<table class="table">
    <tr>
        <th>
            <p>Mã Loại </p>
            @*@Html.DisplayNameFor(model => model.MaLoai)*@
        </th>
        <th>
            <p>Tên Loại</p>
            @*@Html.DisplayNameFor(model => model.TenLoai)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenLoai)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TenLoai }) |
                @Html.ActionLink("Details", "Details", new { id = item.TenLoai }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TenLoai })
            </td>
        </tr>
    }
</table>
